{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">

    <div class="row justify-content-center">
        <div class="row"></div>
        <div class="row justify-content-center">
            <div class="col-4">
                <div class="card border border-dark border-3" style="width: 75%">
                    {% if contact_id.image %}
                    <img src="{{ contact_id.image.url }}" class="card-img-top" alt="...">
                    {% endif %}

                    <div class="card-body">
                        <h5 class="card-title">{{ contact_id.name }}</h5>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">phone : {{ contact_id.phone }}</li>
                            <li class="list-group-item">gender : {{ contact_id.gender }}</li>
                            <li class="list-group-item">email : {{ contact_id.email }}</li>
                        </ul>
                        <div class="card-body">
                            <a class="btn btn-warning" href="{% url 'contact-update' contact_id.id %}">Edit</a>
                            <a class="btn btn-danger" href="{% url 'delete' contact_id.id %}">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                
            </div>
        </div>
    </div>
</div>
    <br>


{% endblock  %}



