<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4"></div>
            <div class="col-4"></div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 justify-content-center mt-5 border">
                <table class="table">
                    <tr>
                        <th style="color: brown;">NAME</th>
                        <th style="color: brown;">PHONE</th>
                        <th style="color: brown;">Action</th>
                        
                    </tr>
                    {% for c in contact %}
                        <tr>
                            <td>{{ c.name }}</td>
                            <td>{{ c.phone }}</td>
                            <td>
                                <a class="btn btn-info" href="{% url 'contact-detail' c.id %}">Detail</a>
                            </td>
                        </tr>
                        
                    {% endfor %}
                </table>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
    
</body>
</html>
