{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4"></div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 justify-content-center mt-5 border">
            <table class="table">
                <tr>
                    <th style="color: brown;">NAME</th>
                    <th style="color: brown;">PHONE</th>
                    <th style="color: brown;">Action</th>
                    
                </tr>
                {% for c in contact %}
                    <tr>
                        <td>{{ c.name }}</td>
                        <td>{{ c.phone }}</td>
                        <td>
                            <a class="btn btn-info" href="{% url 'contact-detail' c.id %}">Detail</a>
                        </td>
                    </tr>
                    
                {% endfor %}
            </table>
        </div>
        <div class="col-2"></div>
    </div>
</div>
{% endblock  %}



